

<!--we already have the container , but if you want spring to create the object u have to mention that here -->
<!--you have to add def for beans -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class ="org.ME.Learning.Dev">

<!--        <property name="age" value="22"></property>-->
<!--        this is for class Dev but id =dev so if we have multiple Dev classes they do not have the same values  , setter injection-->

<!--        <constructor-arg value="70" />-->
<!--        <constructor-arg index="0" value="70" />   here if you want to specify the attribute  , constructor injection -->
<!--        <constructor-arg name="age" value="70" />-->

        <!--now injection but for laptop and no a regular value-->
<!--        <property name="laptop" ref="lap"></property>-->

    </bean>
<!--    <bean id="dev1" class ="org.ME.Learning.Dev">-->
<!--    </bean> this will create another dev class cuz they have different id -->
<!--inside beans we can add multiple single bean-->
    <bean id="lap" class ="org.ME.Learning.Laptop">
    </bean>

</beans>